.spacerTop {
    margin-top: 2rem;
}
.coTLoginView {
    background-image: url("../images/login2.png");
    background-repeat: no-repeat;
    background-color: #252525;
    background-size: contain;
    background-size: 100% 100%;
}
.coTUserName {
    position: fixed;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 2em;
    top: 274px;
}
.coTUserName input {
    background-color: #252525;
    color: white;
	
}
.coTPassword {
    position: fixed;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 2em;
    top: 345px;
}
.coTRememberMe {
    color: #4d4d4d;
    background-color: #252525;
    position: fixed;
    border-radius: 25px;
    border: 2px solid #73AD21;
    top: 490px;
    width: 80%;
    horisontal-align: center;
}
.coTLoginButton {
    color: white;
    background-color: #2a6602;
    position: fixed;
    padding: 2em;
    top: 550px;
    horisontal-align: center;
    width: 80%;
}
