.sapMHeader-CTX {
    background-color:  #252525;
}
.sapMBar-CTX {
    background-color:  #252525;
}
.spacerTop {
    margin-top: 2rem;
}

.sapMBtnIcon {
  width: 145px;
}

.coTLoginView {
    background-image: url("../images/login2.png");
    background-repeat: no-repeat;
    background-color: #252525;
    background-size: contain;
    background-size: 100% 100%;


}
.coTUserName input {
    position: fixed;
    border-radius: 25px;
    background-color: #252525;
    color: white;
    border: 2px solid #73AD21;
    padding: 2em;
    left: 33px;
    top: 274px;
}
.coTPassword input {
    position: fixed;
    border-radius: 25px;
    background-color: #252525;
    color: white;
    border: 2px solid #73AD21;
    padding: 2em;
    left: 33px;
    top: 345px;
}
.coTRememberMe {
    color: #4d4d4d;
    background-color: #252525;
    position: fixed;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 2em;
    left: 33px;
    top: 490px;
}
.coTLoginButton span {
    color: #4d4d4d;
    background-color: #2a6602;
    position: fixed;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 2em;
    left: 33px;
    width: 80;
    top: 550px;
}
.coTListScreen {
    background-color: #252525;
    background-image: url("../images/login2.png");
}
.coTAppRequest {
    color: white;
    background-color: #4d4d4d;
	
}
.coTAppRequest div {
    color: white;
    background-color: #4d4d4d;
	
}
.coTAppRequest img {
	width: 21px;
	height: 21px;
}
.coTApproveBtn {
    background-image: url("../images/coTApproveBtn.png");
}
.coTDeclineeBtn {
    background-image: url("../images/coTDeclineBtn.png");
}
.coTApproveAll {
    background-image: url("../images/coTDeclineBtn.png");
}